div {
background: #acb6e5;  
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  
  background: linear-gradient(to right, #86fde8, #acb6e5);
}

app-social { 
    float: right;
    margin-top: 25px;
}
